In [1]:
import pandas as pd

In [4]:
ice_cream = ["Chocolate", "Vanilla", "Strawberry","Rum Raisan"]
pd.Series(ice_cream)

0     Chocolate
1       Vanilla
2    Strawberry
3    Rum Raisan
dtype: object

In [5]:
lottery = [4,8,15,15,32,42]
pd.Series(lottery)

0     4
1     8
2    15
3    15
4    32
5    42
dtype: int64

In [6]:
registrations = [True,False,False,False,True]
pd.Series(registrations)

0     True
1    False
2    False
3    False
4     True
dtype: bool

In [7]:
sushi = {
    "Salmon": "Orange", "Tuna":"Red", "Eel":"Brown"
}
pd.Series(sushi)

Salmon    Orange
Tuna         Red
Eel        Brown
dtype: object

### Methods

In [8]:
prices = pd.Series([2.99,4.45,1.36])
prices

0    2.99
1    4.45
2    1.36
dtype: float64

In [9]:
prices.sum()

8.8

In [10]:
prices.product()

18.095480000000006

In [11]:
prices.mean()

2.9333333333333336

### Attributes

In [12]:
adjetivos = pd.Series(["alto","baixo","rapido","lento"])
adjetivos

0      alto
1     baixo
2    rapido
3     lento
dtype: object

In [13]:
adjetivos.size

4

In [14]:
adjetivos.is_unique

True

In [15]:
adjetivos.values

array(['alto', 'baixo', 'rapido', 'lento'], dtype=object)

In [16]:
type(adjetivos.values)

numpy.ndarray

In [17]:
adjetivos.index

RangeIndex(start=0, stop=4, step=1)

In [18]:
type(adjetivos.index)

pandas.core.indexes.range.RangeIndex

### Parametros e argumentos

In [19]:
frutas = ["maca","banana","uva","laranja","jaca"]
dias = ["segunda","terca","quarta","quinta","sexta"]

pd.Series(frutas, dias)
pd.Series(data = frutas, index = dias)
pd.Series(frutas, index = dias)

segunda       maca
terca       banana
quarta         uva
quinta     laranja
sexta         jaca
dtype: object

### Import series com pd.read_csv

- read_csv retorna um dataframe
- usecols seleciona uma coluna (ainda dataframe)
- squeeze transforma em pandas series

In [36]:
pokemon = pd.read_csv('pokemon.csv', usecols=["Pokemon"]).squeeze()
google = pd.read_csv('google_stock_price.csv', usecols=['Stock Price']).squeeze('columns')
pokemon

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

### Head and tail on a Series (view)

In [21]:
pokemon.head(5)
pokemon.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [22]:
google.tail(5)
google.tail()

3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, dtype: float64

In [23]:
len(pokemon)
type(pokemon)
dir(pokemon)
sorted(pokemon)
list(pokemon)
dict(pokemon)
max(pokemon)
min(pokemon)

'Abomasnow'

In [24]:
max(google)
min(google)

49.95

### Sort values method
- metodo do pandas que retorna uma serie, diferente de sorted que é um método de python que retorna uma lista.

In [25]:
pokemon.sort_values()
pokemon.sort_values().head()
pokemon.sort_values(ascending=False).head()

717     Zygarde
633    Zweilous
40        Zubat
569       Zorua
570     Zoroark
Name: Pokemon, dtype: object

In [26]:
google.sort_values(ascending=False).head()

3011    782.22
2859    776.60
3009    773.18
3007    772.88
3010    771.61
Name: Stock Price, dtype: float64

### Sort by index
1. transformando uma coluna em index
2. transformando o dataframe resultante em uma Series com squeeze()

In [27]:
pokemon = pd.read_csv('pokemon.csv', index_col='Pokemon').squeeze()

In [29]:
pokemon.sort_index(ascending=False)

Pokemon
Zygarde       Dragon
Zweilous        Dark
Zubat         Poison
Zorua           Dark
Zoroark         Dark
              ...
Aegislash      Steel
Accelgor         Bug
Absol           Dark
Abra         Psychic
Abomasnow      Grass
Name: Type, Length: 721, dtype: object

### Checking for inclusion witn Python in keyword

In [38]:
100 in pokemon
100 in pokemon.index

True

In [40]:
"Bulbasaur" in pokemon.values

True

### Extract series value by Index position

In [61]:
pokemon = pd.read_csv("pokemon.csv", usecols = ["Pokemon"]).squeeze("columns")
pokemon.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [62]:
pokemon[0]
pokemon[500]

pokemon[[100,200,300]]
pokemon[20:30]

20      Spearow
21       Fearow
22        Ekans
23        Arbok
24      Pikachu
25       Raichu
26    Sandshrew
27    Sandslash
28      Nidoran
29     Nidorina
Name: Pokemon, dtype: object

### Extract series value by index label

In [65]:
pokemon = pd.read_csv("pokemon.csv", index_col='Pokemon').squeeze()

In [69]:
pokemon["Bulbasaur"]
pokemon[["Charizard","Jolteon","Meowth"]]
pokemon[""]

'Grass'

### The get method on a series

In [81]:
pokemon.get(0)
pokemon.get("Bulbasaur")
pokemon.get([5,10])
pokemon.get(["Moltres","Meowth"])
pokemon.get("Digimon")
# print(pokemon.get("Digimon"))

pokemon.get("Digimon","Nonexistent")

'Nonexistent'

### Overwrite a series value

In [12]:
pokemon = pd.read_csv("pokemon.csv", usecols=["Pokemon"]).squeeze()
pokemon.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [15]:
pokemon[1500] = "Digimon"
pokemon

0        Bulbasaur
1          Firemon
2         Flamemon
3       Charmander
4         Blazemon
           ...
717        Zygarde
718        Diancie
719          Hoopa
720      Volcanion
1500       Digimon
Name: Pokemon, Length: 722, dtype: object

In [17]:
pokemon[[1, 2, 4]] = ["Firemon", "Flamemon", "Blazemon"]
pokemon

0        Bulbasaur
1          Firemon
2         Flamemon
3       Charmander
4         Blazemon
           ...
717        Zygarde
718        Diancie
719          Hoopa
720      Volcanion
1500       Digimon
Name: Pokemon, Length: 722, dtype: object

In [19]:
pokemon = pd.read_csv("pokemon.csv", index_col="Pokemon").squeeze()
pokemon.head()

Pokemon
Bulbasaur     Grass
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Charmeleon     Fire
Name: Type, dtype: object

In [86]:
# mesmo estruturado como dict, pandas mantem a ordem por index
pokemon["Bulbasaur"] = "Grama"
pokemon[0] = "Verde"
pokemon

Pokemon
Bulbasaur       Verde
Ivysaur         Grass
Venusaur        Grass
Charmander       Fire
Charmeleon       Fire
               ...
Yveltal          Dark
Zygarde        Dragon
Diancie          Rock
Hoopa         Psychic
Volcanion        Fire
Name: Type, Length: 721, dtype: object

### The copy method

In [33]:
### Variaveis nao sao copias, mas views
pokemon_df = pd.read_csv("pokemon.csv",usecols=["Pokemon"])
pokemon_series = pokemon_df.squeeze("columns")

In [35]:
pokemon_series[0] = "Whatever"
pokemon_series[0]

'Whatever'

In [36]:
pokemon_df

        Pokemon
0      Whatever
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
..          ...
716     Yveltal
717     Zygarde
718     Diancie
719       Hoopa
720   Volcanion

[721 rows x 1 columns]

In [42]:
### para copiar:
pokemon_df = pd.read_csv("pokemon.csv",usecols=["Pokemon"])
pokemon_series = pokemon_df.squeeze("columns").copy()
pokemon_series[0] = "qualquer"
pokemon_series.head()

0      qualquer
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [45]:
pokemon_df.head()

      Pokemon
0   Bulbasaur
1     Ivysaur
2    Venusaur
3  Charmander
4  Charmeleon

### The inplace parameter

In [60]:
# permite modificar uma copia, como se fosse view
google = (pd.read_csv("google_stock_price.csv", usecols=["Stock Price"])
          .squeeze("columns")
          .copy()
         )
google

0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
         ...
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

In [62]:
google.sort_values(inplace = True)
google.head()

11    49.95
9     50.07
0     50.12
10    50.70
12    50.74
Name: Stock Price, dtype: float64

In [64]:
google

11       49.95
9        50.07
0        50.12
10       50.70
12       50.74
         ...
3010    771.61
3007    772.88
3009    773.18
2859    776.60
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

### Math methods on series objects

In [65]:
google = (pd.read_csv("google_stock_price.csv", usecols=["Stock Price"])
          .squeeze("columns")
          .copy()
         )

In [76]:
google.count()
google.sum()
google.mean()
google.product()
google.std()
google.min()
google.max()
google.median()
google.mode()
# describe
google.describe()

count    3012.000000
mean      334.310093
std       173.187205
min        49.950000
25%       218.045000
50%       283.315000
75%       443.000000
max       782.220000
Name: Stock Price, dtype: float64

### Broadcasting

In [81]:
google + 10
google - 30
google * 2

google.add(10)

0        60.12
1        64.10
2        64.65
3        62.38
4        62.95
         ...
3007    782.88
3008    781.07
3009    783.18
3010    781.61
3011    792.22
Name: Stock Price, Length: 3012, dtype: float64

### The value counts method

In [89]:
pokemon = pd.read_csv("pokemon.csv", index_col="Pokemon").squeeze()
pokemon.head()

Pokemon
Bulbasaur     Grass
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Charmeleon     Fire
Name: Type, dtype: object

In [98]:
pokemon.value_counts(ascending = True)

pokemon.value_counts(normalize = True) * 100

Water       14.563107
Normal      12.898752
Grass        9.153953
Bug          8.737864
Fire         6.518724
Psychic      6.518724
Rock         5.686546
Electric     4.993065
Ground       4.160888
Poison       3.883495
Dark         3.883495
Fighting     3.467406
Dragon       3.328710
Ghost        3.190014
Ice          3.190014
Steel        3.051318
Fairy        2.357836
Flying       0.416089
Name: Type, dtype: float64

### The apply method

In [107]:
# passa uma funcao para ser executada em todos os valores.
# o valor eh automaticamente colocado como argumento
pokemon = pd.read_csv("pokemon.csv", index_col="Pokemon").squeeze()
pokemon.head()

Pokemon
Bulbasaur     Grass
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Charmeleon     Fire
Name: Type, dtype: object

In [102]:
len("Grass")

5

In [104]:
pokemon.apply(len)

Pokemon
Bulbasaur     5
Ivysaur       5
Venusaur      5
Charmander    4
Charmeleon    4
             ..
Yveltal       4
Zygarde       6
Diancie       4
Hoopa         7
Volcanion     4
Name: Type, Length: 721, dtype: int64

In [105]:
# funcoes customizadas
def rank_pokemon(pokemon_type):
    if pokemon_type in ("Grass","Fire","Water"):
        return "Classic"
    elif pokemon_type == "Normal":
        return "Boring"
    else:
        return "TBD"

In [106]:
pokemon.apply(rank_pokemon)

Pokemon
Bulbasaur     Classic
Ivysaur       Classic
Venusaur      Classic
Charmander    Classic
Charmeleon    Classic
               ...
Yveltal           TBD
Zygarde           TBD
Diancie           TBD
Hoopa             TBD
Volcanion     Classic
Name: Type, Length: 721, dtype: object

### The map method

In [112]:
# Substitui cada valor com outro derivado de uma funcao, Serie, ou dict
pokemon = pd.read_csv("pokemon.csv", index_col="Pokemon").squeeze()
pokemon.head()

Pokemon
Bulbasaur     Grass
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Charmeleon     Fire
Name: Type, dtype: object

In [109]:
mappings = {
    "Grass":"Classic",
    "Fire":"Classic",
    "Water":"Classic",
    "Normal":"Boring"
}

In [110]:
pokemon.map(mappings)

Pokemon
Bulbasaur     Classic
Ivysaur       Classic
Venusaur      Classic
Charmander    Classic
Charmeleon    Classic
               ...
Yveltal           NaN
Zygarde           NaN
Diancie           NaN
Hoopa             NaN
Volcanion     Classic
Name: Type, Length: 721, dtype: object