In [206]:
import pandas as pd
import datetime as dt
from pandas.tseries import offsets

### Review of Python's datetime module

In [4]:
# datetime eh uma internal library importada, apenas quando necessario para economizar memoria
someday = dt.date(2016,4,12)

In [7]:
someday.year
someday.month
someday.day

12

In [24]:
# datetime default is midnight (year, month, day, hour, minute, second)
horario = dt.datetime(2010,1,10,17,13,57)
horario

datetime.datetime(2010, 1, 10, 17, 13, 57)

In [25]:
str(horario)

'2010-01-10 17:13:57'

In [27]:
horario.year
horario.month
horario.day
horario.hour
horario.minute
horario.second

57

### The pandas Timestamp object

In [40]:
# pandas version of datetime
pd.Timestamp("2015-03-31")
pd.Timestamp("2015/03/31")
pd.Timestamp("2015, 03, 31")
pd.Timestamp("31/03/2015") #evitar
pd.Timestamp("03/31/2015")
pd.Timestamp("2015-03-31 08:35:15")
pd.Timestamp("2015-03-31 6:13:28 PM")

Timestamp('2015-03-31 18:13:28')

In [41]:
pd.Timestamp(dt.date(2015, 1, 1))

Timestamp('2015-01-01 00:00:00')

In [47]:
pd.Timestamp(dt.datetime(2015, 1, 1, 21, 35, 22))

Timestamp('2015-01-01 21:35:22')

### The pandas DateTImeIndex object

In [56]:
# datetimeIndex converte o argumento em timestamps e os transforma em index, que podem ser utilizados como index de um dateframe ou series
dates = ["2016-01-02", "2016-04-12", "2009-09-07"]
pd.DatetimeIndex(dates)

DatetimeIndex(['2016-01-02', '2016-04-12', '2009-09-07'], dtype='datetime64[ns]', freq=None)

In [58]:
dates = [dt.date(2016, 1, 10), dt.date(1994, 6, 13), dt.date(2003, 12, 29)]
dtIndex = pd.DatetimeIndex(dates)

In [59]:
values = [100, 200, 300]
pd.Series(data = values, index = dtIndex)

2016-01-10    100
1994-06-13    200
2003-12-29    300
dtype: int64

### The pd.to_datetime() method

In [63]:
# converte uma serie ou dataframe em pandas datetime
pd.to_datetime("2001-04-19")
pd.to_datetime(dt.date(2015, 1, 1))
pd.to_datetime(["2015-01-03", "2014/02/08", "2016", "July 4th, 1996"])

DatetimeIndex(['2015-01-03', '2014-02-08', '2016-01-01', '1996-07-04'], dtype='datetime64[ns]', freq=None)

In [66]:
times = pd.Series(["2015-01-03", "2014/02/08", "2016", "July 4th, 1996"])
times

0        2015-01-03
1        2014/02/08
2              2016
3    July 4th, 1996
dtype: object

In [67]:
pd.to_datetime(times)

0   2015-01-03
1   2014-02-08
2   2016-01-01
3   1996-07-04
dtype: datetime64[ns]

In [70]:
dates = pd.Series(["July 4th, 1996", "10/04/1991", "Hello", "2015-02-31"])
dates

0    July 4th, 1996
1        10/04/1991
2             Hello
3        2015-02-31
dtype: object

In [71]:
pd.to_datetime(dates)

ParserError: Unknown string format: Hello

In [72]:
# transforma os erros em NaT
pd.to_datetime(dates, errors = "coerce")

0   1996-07-04
1   1991-10-04
2          NaT
3          NaT
dtype: datetime64[ns]

### Create range of dates with the pd.date_range() method, part 1

In [81]:
times = pd.date_range(start = "2016-01-01", end = "2016-01-10", freq = "D")

In [82]:
type(times)

pandas.core.indexes.datetimes.DatetimeIndex

In [83]:
type(times[0])

pandas._libs.tslibs.timestamps.Timestamp

In [88]:
pd.date_range(start = "2016-01-01", end = "2016-01-10", freq = "2D")
# business days:
pd.date_range(start = "2016-01-01", end = "2016-01-10", freq = "B")

DatetimeIndex(['2016-01-01', '2016-01-04', '2016-01-05', '2016-01-06',
               '2016-01-07', '2016-01-08'],
              dtype='datetime64[ns]', freq='B')

### Create range of dates with the pd.date_range() method, part 2

In [92]:
pd.date_range(start = "2012-09-09", periods = 50, freq = "B")

DatetimeIndex(['2012-09-10', '2012-09-11', '2012-09-12', '2012-09-13',
               '2012-09-14', '2012-09-17', '2012-09-18', '2012-09-19',
               '2012-09-20', '2012-09-21', '2012-09-24', '2012-09-25',
               '2012-09-26', '2012-09-27', '2012-09-28', '2012-10-01',
               '2012-10-02', '2012-10-03', '2012-10-04', '2012-10-05',
               '2012-10-08', '2012-10-09', '2012-10-10', '2012-10-11',
               '2012-10-12', '2012-10-15', '2012-10-16', '2012-10-17',
               '2012-10-18', '2012-10-19', '2012-10-22', '2012-10-23',
               '2012-10-24', '2012-10-25', '2012-10-26', '2012-10-29',
               '2012-10-30', '2012-10-31', '2012-11-01', '2012-11-02',
               '2012-11-05', '2012-11-06', '2012-11-07', '2012-11-08',
               '2012-11-09', '2012-11-12', '2012-11-13', '2012-11-14',
               '2012-11-15', '2012-11-16'],
              dtype='datetime64[ns]', freq='B')

### Create range of dates with the pd.date_range() method, part 3

In [93]:
pd.date_range(end = "1999-12-31", periods = 20, freq = "D")

DatetimeIndex(['1999-12-12', '1999-12-13', '1999-12-14', '1999-12-15',
               '1999-12-16', '1999-12-17', '1999-12-18', '1999-12-19',
               '1999-12-20', '1999-12-21', '1999-12-22', '1999-12-23',
               '1999-12-24', '1999-12-25', '1999-12-26', '1999-12-27',
               '1999-12-28', '1999-12-29', '1999-12-30', '1999-12-31'],
              dtype='datetime64[ns]', freq='D')

### The .dt Accessor

In [98]:
# antes de utilizar um metodo em algo que contenha datetimes, deve-se prefixar com .dt
dates2 = pd.date_range(start = "2000-01-01", end = "2010-12-31", freq = "24D")

In [107]:
s = pd.Series(dates2)
s

0     2000-01-01
1     2000-01-25
2     2000-02-18
3     2000-03-13
4     2000-04-06
         ...
163   2010-09-17
164   2010-10-11
165   2010-11-04
166   2010-11-28
167   2010-12-22
Length: 168, dtype: datetime64[ns]

In [114]:
# .dt accessor
s.dt.day_name()

0       Saturday
1        Tuesday
2         Friday
3         Monday
4       Thursday
         ...
163       Friday
164       Monday
165     Thursday
166       Sunday
167    Wednesday
Length: 168, dtype: object

In [118]:
mask = s.dt.is_quarter_start
mask = s.dt.is_quarter_end
s[mask]

57   2003-09-30
dtype: datetime64[ns]

### Import financial dataset with pandas_datareader library

In [120]:
import pandas as pd
import datetime as dt
from pandas_datareader import data

In [125]:
stocks = data.DataReader(name = "MSFT", data_source = "yahoo", start = "2010-01-01", end = "2020-12-31")
stocks.head(3)

             High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.10  30.590000  30.620001  30.950001  38409100.0  23.800228
2010-01-05  31.10  30.639999  30.850000  30.959999  49749600.0  23.807919
2010-01-06  31.08  30.520000  30.879999  30.770000  58182400.0  23.661802

In [129]:
stocks.values
stocks.columns
stocks.index

DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
               '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
               '2010-01-14', '2010-01-15',
               ...
               '2020-12-17', '2020-12-18', '2020-12-21', '2020-12-22',
               '2020-12-23', '2020-12-24', '2020-12-28', '2020-12-29',
               '2020-12-30', '2020-12-31'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

### Selecting rows from a dataframe with a datetimeIndex

In [130]:
stocks = data.DataReader(name = "MSFT", data_source = "yahoo", start = "2010-01-01", end = "2020-12-31")
stocks.head(3)

             High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.10  30.590000  30.620001  30.950001  38409100.0  23.800224
2010-01-05  31.10  30.639999  30.850000  30.959999  49749600.0  23.807911
2010-01-06  31.08  30.520000  30.879999  30.770000  58182400.0  23.661810

In [132]:
stocks.loc["2010-01-04"]
stocks.loc[pd.Timestamp("2010-01-04")]

High         3.110000e+01
Low          3.059000e+01
Open         3.062000e+01
Close        3.095000e+01
Volume       3.840910e+07
Adj Close    2.380022e+01
Name: 2010-01-04 00:00:00, dtype: float64

In [135]:
stocks.iloc[2]

High         3.108000e+01
Low          3.052000e+01
Open         3.088000e+01
Close        3.077000e+01
Volume       5.818240e+07
Adj Close    2.366181e+01
Name: 2010-01-06 00:00:00, dtype: float64

In [136]:
stocks.loc[[pd.Timestamp("2010-01-04"), pd.Timestamp("2010-01-05")]]

            High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.1  30.590000  30.620001  30.950001  38409100.0  23.800224
2010-01-05  31.1  30.639999  30.850000  30.959999  49749600.0  23.807911

In [138]:
stocks.iloc[[0,1]]

            High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.1  30.590000  30.620001  30.950001  38409100.0  23.800224
2010-01-05  31.1  30.639999  30.850000  30.959999  49749600.0  23.807911

In [141]:
# .loc end point eh inclusivo
stocks.loc["2013-10-01":"2013-10-07"]

                 High        Low       Open      Close      Volume  Adj Close
Date
2013-10-01  33.610001  33.299999  33.349998  33.580002  36718700.0  28.452314
2013-10-02  34.029999  33.290001  33.360001  33.919998  46946800.0  28.740398
2013-10-03  34.000000  33.419998  33.880001  33.860001  38703800.0  28.689560
2013-10-04  33.990002  33.619999  33.689999  33.880001  33008100.0  28.706507
2013-10-07  33.709999  33.200001  33.599998  33.299999  35069300.0  28.215073

In [143]:
stocks.truncate(before = "2013-10-01", after = "2013-10-07")

                 High        Low       Open      Close      Volume  Adj Close
Date
2013-10-01  33.610001  33.299999  33.349998  33.580002  36718700.0  28.452314
2013-10-02  34.029999  33.290001  33.360001  33.919998  46946800.0  28.740398
2013-10-03  34.000000  33.419998  33.880001  33.860001  38703800.0  28.689560
2013-10-04  33.990002  33.619999  33.689999  33.880001  33008100.0  28.706507
2013-10-07  33.709999  33.200001  33.599998  33.299999  35069300.0  28.215073

In [148]:
# .loc end point eh exclusivo
stocks.iloc[1000:1002]

                 High        Low       Open      Close      Volume  Adj Close
Date
2013-12-23  36.889999  36.549999  36.810001  36.619999  25128700.0  31.263420
2013-12-24  37.169998  36.639999  36.720001  37.080002  14243000.0  31.656134

In [152]:
birthdays = pd.date_range(start = "1985-11-16", end = "2022-12-31", freq = pd.DateOffset(years = 1))

In [154]:
birthday_stocks = stocks.index.isin(birthdays)

In [155]:
stocks[birthday_stocks]

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2010-11-16,26.040001,25.650000,26.040001,25.809999,65339200.0,20.260990
2011-11-16,26.510000,26.040001,26.469999,26.070000,53262800.0,21.008785
2012-11-16,26.700001,26.340000,26.670000,26.520000,64083300.0,21.975834
2015-11-16,53.889999,52.849998,53.080002,53.770000,32165200.0,48.121357
2016-11-16,59.660000,58.810001,58.939999,59.650002,27332500.0,55.218220
2017-11-16,83.419998,82.940002,83.099998,83.199997,20962800.0,78.738251
2018-11-16,108.879997,106.800003,107.080002,108.290001,33502100.0,104.256874
2020-11-16,217.740005,214.520004,214.869995,217.229996,24953300.0,213.920120

### Timestamp object attributes and methods

In [156]:
stocks = data.DataReader(name = "MSFT", data_source = "yahoo", start = "2010-01-01", end = "2020-12-31")
stocks.head(3)

             High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.10  30.590000  30.620001  30.950001  38409100.0  23.800222
2010-01-05  31.10  30.639999  30.850000  30.959999  49749600.0  23.807911
2010-01-06  31.08  30.520000  30.879999  30.770000  58182400.0  23.661806

In [161]:
stocks.index

DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
               '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
               '2010-01-14', '2010-01-15',
               ...
               '2020-12-17', '2020-12-18', '2020-12-21', '2020-12-22',
               '2020-12-23', '2020-12-24', '2020-12-28', '2020-12-29',
               '2020-12-30', '2020-12-31'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [169]:
someday = stocks.index[500]
someday.day
someday.month
someday.week
someday.is_month_end
someday.is_quarter_start

False

In [170]:
someday.day_name()

'Tuesday'

In [172]:
stocks.index.day_name()

Index(['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Monday',
       'Tuesday', 'Wednesday', 'Thursday', 'Friday',
       ...
       'Thursday', 'Friday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday',
       'Monday', 'Tuesday', 'Wednesday', 'Thursday'],
      dtype='object', name='Date', length=2769)

In [174]:
stocks.insert(0,"Day of Week", stocks.index.day_name())

ValueError: cannot insert Day of Week, already exists

In [175]:
stocks

,Day of Week,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,
2010-01-04,Monday,31.100000,30.590000,30.620001,30.950001,38409100.0,23.800222
2010-01-05,Tuesday,31.100000,30.639999,30.850000,30.959999,49749600.0,23.807911
2010-01-06,Wednesday,31.080000,30.520000,30.879999,30.770000,58182400.0,23.661806
2010-01-07,Thursday,30.700001,30.190001,30.629999,30.450001,50559700.0,23.415724
2010-01-08,Friday,30.879999,30.240000,30.280001,30.660000,51197400.0,23.577217
...,...,...,...,...,...,...,...
2020-12-24,Thursday,223.610001,221.199997,221.419998,222.750000,10550600.0,219.930298
2020-12-28,Monday,226.029999,223.020004,224.449997,224.960007,17933500.0,222.112335
2020-12-29,Tuesday,227.179993,223.580002,226.309998,224.149994,17403200.0,221.312576
2020-12-30,Wednesday,225.630005,221.470001,225.229996,221.679993,20272300.0,218.873840
2020-12-31,Thursday,223.000000,219.679993,221.699997,222.419998,20942100.0,219.604507

In [176]:
stocks.insert(1, "Is Start of Month", stocks.index.is_month_start)

In [177]:
stocks

,Day of Week,Is Start of Month,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,,
2010-01-04,Monday,False,31.100000,30.590000,30.620001,30.950001,38409100.0,23.800222
2010-01-05,Tuesday,False,31.100000,30.639999,30.850000,30.959999,49749600.0,23.807911
2010-01-06,Wednesday,False,31.080000,30.520000,30.879999,30.770000,58182400.0,23.661806
2010-01-07,Thursday,False,30.700001,30.190001,30.629999,30.450001,50559700.0,23.415724
2010-01-08,Friday,False,30.879999,30.240000,30.280001,30.660000,51197400.0,23.577217
...,...,...,...,...,...,...,...,...
2020-12-24,Thursday,False,223.610001,221.199997,221.419998,222.750000,10550600.0,219.930298
2020-12-28,Monday,False,226.029999,223.020004,224.449997,224.960007,17933500.0,222.112335
2020-12-29,Tuesday,False,227.179993,223.580002,226.309998,224.149994,17403200.0,221.312576
2020-12-30,Wednesday,False,225.630005,221.470001,225.229996,221.679993,20272300.0,218.873840
2020-12-31,Thursday,False,223.000000,219.679993,221.699997,222.419998,20942100.0,219.604507

In [182]:
stocks[stocks["Is Start of Month"]]
stocks[stocks["Day of Week"] == "Monday"]

,Day of Week,Is Start of Month,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,,
2010-01-04,Monday,False,31.100000,30.590000,30.620001,30.950001,38409100.0,23.800222
2010-01-11,Monday,False,30.760000,30.120001,30.709999,30.270000,68754700.0,23.277309
2010-01-25,Monday,False,29.660000,29.100000,29.240000,29.320000,63373000.0,22.546762
2010-02-01,Monday,True,28.480000,27.920000,28.389999,28.410000,85931100.0,21.846991
2010-02-08,Monday,False,28.080000,27.570000,28.010000,27.719999,52820600.0,21.316383
...,...,...,...,...,...,...,...,...
2020-11-30,Monday,False,214.759995,210.839996,214.100006,214.070007,33064800.0,211.360184
2020-12-07,Monday,False,215.539993,212.990005,214.369995,214.289993,24620000.0,211.577393
2020-12-14,Monday,False,216.210007,212.880005,213.100006,214.199997,28798400.0,211.488556
2020-12-21,Monday,False,224.000000,217.279999,217.550003,222.589996,37181900.0,219.772324
2020-12-28,Monday,False,226.029999,223.020004,224.449997,224.960007,17933500.0,222.112335

### The pd.DateOffset object

In [183]:
stocks = data.DataReader(name = "MSFT", data_source = "yahoo", start = "2010-01-01", end = "2020-12-31")
stocks.head(3)

             High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.10  30.590000  30.620001  30.950001  38409100.0  23.800219
2010-01-05  31.10  30.639999  30.850000  30.959999  49749600.0  23.807913
2010-01-06  31.08  30.520000  30.879999  30.770000  58182400.0  23.661810

In [190]:
# modificar datas
stocks.index + pd.DateOffset(days = 5)
stocks.index - pd.DateOffset(days = 5)

# stocks.index = stocks.index - pd.DateOffset(days = 5)

DatetimeIndex(['2009-12-30', '2009-12-31', '2010-01-01', '2010-01-02',
               '2010-01-03', '2010-01-06', '2010-01-07', '2010-01-08',
               '2010-01-09', '2010-01-10',
               ...
               '2020-12-12', '2020-12-13', '2020-12-16', '2020-12-17',
               '2020-12-18', '2020-12-19', '2020-12-23', '2020-12-24',
               '2020-12-25', '2020-12-26'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [192]:
stocks.index + pd.DateOffset(weeks = 2)

DatetimeIndex(['2010-01-18', '2010-01-19', '2010-01-20', '2010-01-21',
               '2010-01-22', '2010-01-25', '2010-01-26', '2010-01-27',
               '2010-01-28', '2010-01-29',
               ...
               '2020-12-31', '2021-01-01', '2021-01-04', '2021-01-05',
               '2021-01-06', '2021-01-07', '2021-01-11', '2021-01-12',
               '2021-01-13', '2021-01-14'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [193]:
stocks.index + pd.DateOffset(years = 1, days = 10, months = 3, hours = 6, minutes = 2)

DatetimeIndex(['2011-04-14 06:02:00', '2011-04-15 06:02:00',
               '2011-04-16 06:02:00', '2011-04-17 06:02:00',
               '2011-04-18 06:02:00', '2011-04-21 06:02:00',
               '2011-04-22 06:02:00', '2011-04-23 06:02:00',
               '2011-04-24 06:02:00', '2011-04-25 06:02:00',
               ...
               '2022-03-27 06:02:00', '2022-03-28 06:02:00',
               '2022-03-31 06:02:00', '2022-04-01 06:02:00',
               '2022-04-02 06:02:00', '2022-04-03 06:02:00',
               '2022-04-07 06:02:00', '2022-04-08 06:02:00',
               '2022-04-09 06:02:00', '2022-04-10 06:02:00'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

### Timeseries Offsets

In [194]:
# modificando datas dinamicamente.
# e.g. levando todos os dias para o fim do mes:

In [195]:
stocks = data.DataReader(name = "MSFT", data_source = "yahoo", start = "2010-01-01", end = "2020-12-31")
stocks.head(3)

             High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.10  30.590000  30.620001  30.950001  38409100.0  23.800219
2010-01-05  31.10  30.639999  30.850000  30.959999  49749600.0  23.807913
2010-01-06  31.08  30.520000  30.879999  30.770000  58182400.0  23.661806

In [203]:
stocks.index + pd.tseries.offsets.MonthEnd()
stocks.index - pd.tseries.offsets.MonthEnd()

DatetimeIndex(['2009-12-31', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31',
               ...
               '2020-11-30', '2020-11-30', '2020-11-30', '2020-11-30',
               '2020-11-30', '2020-11-30', '2020-11-30', '2020-11-30',
               '2020-11-30', '2020-11-30'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [202]:
stocks.tail(3)

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-12-29,227.179993,223.580002,226.309998,224.149994,17403200.0,221.312592
2020-12-30,225.630005,221.470001,225.229996,221.679993,20272300.0,218.873840
2020-12-31,223.000000,219.679993,221.699997,222.419998,20942100.0,219.604477

In [204]:
from pandas.tseries import offsets

In [205]:
stocks.index + offsets.MonthEnd()

DatetimeIndex(['2010-01-31', '2010-01-31', '2010-01-31', '2010-01-31',
               '2010-01-31', '2010-01-31', '2010-01-31', '2010-01-31',
               '2010-01-31', '2010-01-31',
               ...
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2021-01-31'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [207]:
stocks.index + offsets.BMonthEnd()

DatetimeIndex(['2010-01-29', '2010-01-29', '2010-01-29', '2010-01-29',
               '2010-01-29', '2010-01-29', '2010-01-29', '2010-01-29',
               '2010-01-29', '2010-01-29',
               ...
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2021-01-29'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

### The Timedelta object

In [213]:
# retorna a variacao de tempo
time_a = pd.Timestamp("2020-03-31 04:35:16 PM")
time_b = pd.Timestamp("2020-03-20 02:15:49AM")

time_a - time_b

Timedelta('11 days 14:19:27')

In [222]:
pd.Timedelta("14 days, 5 minutes")

Timedelta('14 days 00:05:00')

In [217]:
time_a + pd.Timedelta(days = 3)

Timestamp('2020-04-03 16:35:16')

### Timedeltas in a Dataset

In [226]:
shipping = pd.read_csv("ecommerce.csv", index_col = "ID", parse_dates = ["order_date", "delivery_date"])
shipping.head(3)

   order_date delivery_date
ID
1  1998-05-24    1999-02-05
2  1992-04-22    1998-03-06
4  1991-02-10    1992-08-26

In [245]:
shipping["Delivery Time"] = shipping["delivery_date"] - shipping["order_date"]
shipping

    order_date delivery_date Delivery Time
ID
1   1998-05-24    1999-02-05      257 days
2   1992-04-22    1998-03-06     2144 days
4   1991-02-10    1992-08-26      563 days
5   1992-07-21    1997-11-20     1948 days
7   1993-09-02    1998-06-10     1742 days
..         ...           ...           ...
990 1991-06-24    1996-02-02     1684 days
991 1991-09-09    1998-03-30     2394 days
993 1990-11-16    1998-04-27     2719 days
994 1993-06-03    1993-06-13       10 days
997 1990-01-04    1991-10-03      637 days

[501 rows x 3 columns]

In [246]:
shipping.dtypes

order_date        datetime64[ns]
delivery_date     datetime64[ns]
Delivery Time    timedelta64[ns]
dtype: object

In [247]:
shipping["Delivery Time"] > "365 days"

ID
1      False
2       True
4       True
5       True
7       True
       ...
990     True
991     True
993     True
994    False
997     True
Name: Delivery Time, Length: 501, dtype: bool